body {
    font-family: witches-magic;
    text-align: center;
}

.header-push {
  margin-top: 6em;
}

.footer-push {
  margin-bottom: 2em;
}

.newsfeedBackground {
    position: fixed;
   z-index: -3;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
    background-image: url('../images/newsfeed.png');
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.imageContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.items {
  flex-basis: content;
  margin: auto;
  width: 65%;
}

.image-styler {
  border-style: groove;
  border-width: 0.5em;
  border-color: #DF7000;
  margin-bottom: 1em;
}

.like-button-sizer {
  height: 2em;
  width: 2em;
}

#like-btn {
  padding: 0;
  margin: 0;
  border-width: 0;
}

