@font-face {
	font-family: witches-magic;
	src: url("../fonts/Witches-Magic.ttf") format("truetype");
}


/* push navbar and content away from each other*/
.head-push {
	height: 15em;
}

body {
	font-family: witches-magic !important;
}


/*

Nav Bar CSS

*/

/* Flex Container */
.head-container {
  display: flex;
  /* flex-flow: column wrap; */
  justify-content: center;
}


/* Flex Item */
.items-head {
  flex-basis: content;
  margin: auto;
  /* width: 80%; */
}

/* .row {
	margin-left: 0;
} */

@media (min-width: 1200px){
.container {
	width: 0;
}
}

@media (min-width: 992px) {
.container {
	width: 930px;
}
}

@media (max-width: 768px;) {
.container {
	width: 600px;
}
}



nav {
    background-color: #FF7000;
    font-size: 1.5em;
    /* text-align: center; */
}


a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

/* on hover for all li elements in nav --> make it orange */
.nav > li > a:hover, .nav > li > a:focus { 
	background-color:#FF7000;

}

.pad-top {
	padding-top: 1.2em;
	font-size: 1.3em;
}



/* 

LOGO CSS 

*/

/* shaping of logo to circular */
.logoShaperHeader {
    border-radius: 50%;
    height: 4em;
    padding: 0 2em;
}
/* nav logo effect */
.mylogo:hover {
	transform: scale(2.4);
	transition: transform .25s ease;
}