@font-face {
  font-family: witches-magic;
  src: url("../fonts/Witches-Magic.ttf") format("truetype");
}

body {
    font-family: witches-magic !important;
    text-align: center;
}

button {
  font-family: witches-magic;
  background-color: black;
  color: #DF7000;
}

.logSignBackground {
    position: fixed;
   z-index: -3;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-image: url('../images/log-sign-background.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.logoShaper {
    border-radius: 50%;
    width: 18em;
    height: 18em;
}

/*styling for div of each label/input field together in form*/
.field-shaper {
    margin: 2em;
}

.inputFields {
    font-size: 2em;
}

.labels {
    font-size: 2em;
}

#login-button {
    /*display: block;*/
    float: center;
    margin-top: 1em;
}

#email-style {
    margin-left: 2.6em;
    background-color: black;
    color: #FF7000;
}

#firstname, 
#lastname,
#username-style,
#password-style {
    margin-left: 0.65em;
    background-color: black;
    color: #FF7000;
}