body {
    font-family: witches-magic;
    text-align: center;
}

input{
    border-color: #FF7000 ;
}

textarea {
    border-width: 0.15em;
    border-color: #FF7000 ;
}

button {
    font-size: 1.5em;
    margin-left: 1em;
    color: #DF7000;
    background-color: black;
}

label {
  font-weight: normal !important;
}
.user-images{
    width: 30%;
    height: 200px;
}
.profileBackground {
    position: fixed;
   z-index: -3;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
    background-image: url('../images/profile.png');
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.logoShaper {
    border-radius: 50%;
    width: 12em;
    height: 12em;
}

/*styling for div of each label/input field together in form*/
.field-shaper {
    margin: 2em;
}

.inputFields {
    font-size: 2em;
}

.labels {
    font-size: 2em;
}

#name-info {
  margin-right: 0;
}

#descrip-info {
    margin-left: 0.3em;
}

#description {
    font-size: 1em;
    background-color: black;
    color: orange;
}

#name {
    margin-right: 3.8em;
    background-color: black;
    color: #DF7000;
}

input[type=file] {
  padding: 0;
  font-weight: bold;
  display: inline;
  color: #DF7000;
}

#myFile {
  width: 14em;
  font-size: 1.3em;
}
