body {
    font-family: verdana;
    text-align: center;
}

input{
    border-color: #FF7000 ;
}

textarea {
    border-width: 0.15em;
    border-color: #FF7000 ;
}

button {
    font-size: 1.5em;
    margin-left: 1em;
}

.profileBackground {
    position: fixed;
   z-index: -3;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
    background-image: url('../images/profile.png');
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.logoShaper {
    border-radius: 50%;
    width: 18em;
    height: 18em;
}

/*styling for div of each label/input field together in form*/
.field-shaper {
    margin: 2em;
}

.inputFields {
    font-size: 2em;
}

.labels {
    font-size: 2em;
}

#descrip-info {
    margin-left: 0.3em;
}

#description {
    font-size: 1em;
}

#name {

    margin-right: 3.8em;
}
