<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/header.css">
</head>

<body class="container">
	<div class="head-push">	
		<nav class="navbar navbar-fixed-top">
			<div class="head-container container">
				<ul class="nav navbar-nav col-lg-6">
					<li class="pad-top items-head"><a href="/profile">Profile</a></li>
					<li class=" items-head"><a href="/newsfeed"><img class="logoShaperHeader mylogo" src="../images/hallow2.png" alt="HallowGram Logo"></a></li>
					<li class="pad-top items-head"><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</nav>
	</div>
</body>

    <!-- <link rel="stylesheet" href="../stylesheets/profile.css"> -->
