<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HallowGram Login</title>
    <link rel="stylesheet" href="../stylesheets/log-sign.css">
</head>

<body>
    <div class="logSignBackground"></div>
    <div>
        <img class="logoShaper" src="../images/hallow2.png" alt="HallowGram Logo">
    </div>
    <div>
        <h1>Login</h1>
    </div>

  

    <form action="/login" method="POST" accept-charset="utf-8">
        <div class="field-shaper">
            <label for="email" class="labels e-label">Email:</label>
            <input name="email" id="email-style" class="inputFields" type="text"> 
        </div>
        <div class="field-shaper">
            <label for="password" class="labels">Password:</label>
            <input name="password" id="password-style" class="inputFields" type="password">  
        </div>
        <div class="field-shaper">
            <button type="login" class="inputFields" id="login-button">Login</button>  
        </div>
    </form>

    <form action="/signup" method="GET" accept-charset="utf-8">
        <div class="field-shaper">
            <button type="signup" class="inputFields" id="signup-button">HallowGram Signup</button>  
        </div>
    </form>

    <script src="../js/login.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>