<%- include ./partials/header %>
<head>
    <link rel="stylesheet" href="../stylesheets/newsfeed.css">
</head>

<body>
	<%if(imageData !== undefined) {%>
	    <% for (var i = 0; i < imageData.length; i++) { %>
	          <div class="imageContainer">
	          	<div class="username u-style"> Uploaded By <%= imageData[i].username%></div>
	          	<img id=<%=imageData[i].picId%> src=<%= imageData[i].url%> class="user-images image-styler" alt="Image">
	          </div>
	    <% } %>
	       
	<% } else {%>
	    <h1>Upload and Image!!!</h1>
	<% } %>
	
	<div class="newsfeedBackground"></div>

	<script src="../js/newsfeed.js" type="text/javascript" charset="utf-8"></script>

</body>
