<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>

<body>
    <div class="profileBackground"></div>
    <div>
        <img class="logoShaper" src="../images/hallow1.png" alt="HallowGram Logo">
    </div>
    <%if(imageUrls === undefined) {%>
    
       <h1>Upload and Image!!!</h1>
    <% } else{%>
        <% for (var i = 0; i < imageUrls.length; i++ ) { %>
          <p><img src=<%= imageUrls[i]%> class="user-images" alt="Image"></p>
        <% } %>
    <% } %>
    <!-- multer handles multipart form data so you need to encode the data-->
    <form action="/profile/upload" method="POST" name="uploadForm" accept-charset="utf-8" enctype="multipart/form-data"> 
        <div class="field-shaper" id="name-info">
            <label for="name" class="labels">Name:</label>
            <input type="text" name="name" class="inputFields" id="name">
        </div>
        <div class="field-shaper" id="descrip-info">
            <label for="description" class="labels">Description:</label>
            <textarea type="text" name="description" class="inputFields" id="description" cols="60" rows="10"></textarea>
        </div>
        <div class="field-shaper">
            <input type="file" id="myFile" name="myFile">
            <button type="submit" id="uploadSubmit" name="uploadSubmit">Upload</button>
        </div>
    </form>
    
    <div class="field-shaper">
        <button id="edit-info" type="edit">Edit</button>
        <button>View Posts</button>
    </div>

        <script src="../js/profile.js" type="text/javascript" charset="utf-8"></script>
</body>