<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Profile</title>
	<link rel="stylesheet" href="./static/style.css">
</head>
<body>
	<div>
		<img src="../images/hallow1.png" alt="HallowGram Logo">
	</div>
	<!-- if someone fills out this form, it should then show filled out fields and supply edit button for name and description-->
	<<div>
		<label for="name">Name:</label>
		<input type="name" name="name" id="name">	
	</div>
	<div>
		<label for="description">Description:</label>
		<textarea type="text" name="description" id="description" cols="60" rows="10"></textarea>
	</div>
	<button type="upload">Upload</button>
	<button>View Posts</button>
</body>