<%- include ./partials/header %>
<head>
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>

<body>
    <div class="profileBackground"></div>
   
    <% if(imageUrls.length > 0) { %>
        <% for (var i = 0; i < imageUrls.length; i++ ) { %>
          <div id="profileImg">
            <img id="picFill" src=<%= imageUrls[i]%> class="user-images" alt="Image">
        </div>
        <% } %>
      
    <% } else{ %>
         <div id="defaultImg">
            <img class="logoShaper" src="../images/hallow1.png" alt="HallowGram Logo">
        </div>
    <% } %>
    <!-- multer handles multipart form data so you need to encode the data-->
    <form action="/profile/upload" method="POST" name="uploadForm" accept-charset="utf-8" enctype="multipart/form-data"> 
        <div class="field-shaper" id="name-info">
            <label for="name" class="labels">Name:</label>
            <input type="text" name="name" class="inputFields" id="name">
        </div>
        <div class="field-shaper" id="descrip-info">
            <label for="description" class="labels">Description:</label>
            <textarea type="text" name="description" class="inputFields" id="description" cols="60" rows="10"></textarea>
        </div>
        <div class="field-shaper">
            <input type="file" id="myFile" name="myFile">
            <button type="submit" id="uploadSubmit" name="uploadSubmit">Upload</button>
        </div>
    </form>

    
    <div class="field-shaper">
        <a href="/newsfeed"><button>View Posts</button></a>
    </div>

    <script src="../js/profile.js" type="text/javascript" charset="utf-8"></script>
</body>