<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>

<body>
    <div>
        <img src="../images/hallow1.png" alt="HallowGram Logo">
    </div>
    <div id="name-info">
        <label for="name">Name:</label>
        <input type="name" name="name" id="name" value=<%=info.name%>>
    </div>
    <div id="descrip-info">
        <label for="description">Description:</label>
        <textarea type="text" name="description" id="description" cols="60" rows="10"><%=info.description%></textarea>
    </div>
    <button id="edit-info" type="edit">Edit</button>
    <button id="upload" type="upload">Upload</button>
    <button>View Posts</button>
    <<script src="../js/profile.js" type="text/javascript" charset="utf-8"></script>
</body>