<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>HallowGram Sign-Up</title>
	<link rel="stylesheet" href="../stylesheets/log-sign.css">
</head>
<body>
	<div class="logSignBackground"></div>
	<div>
		<img class="logoShaper" src="../images/hallow2.png" alt="HallowGram Logo">
	</div>
	<div>
		<h1>Sign Up</h1>
	</div>
	<form action="/sign-up" method="POST" accept-charset="utf-8">
		<div class="field-shaper">
			<label for="firstName" class="labels">First Name:</label>
			<input name="firstName" class="inputFields" id="firstName" type="text">
		</div>
		<div class="field-shaper">
			<label for="lastName" class="labels">Last Name:</label>
			<input name="lastName" class="inputFields" id="lastName" type="text">
		</div>
		<div class="field-shaper">
			<label for="email" class="labels">Email:</label>
			<input name="email" class="inputFields" type="text">
		</div>
		<div class="field-shaper">
			<label for="password" class="labels">Password:</label>
			<input name="password" class="inputFields" id="password" type="password">
		</div>
		<div class="field-shaper">
			<button class="inputFields" id="submit" type="submit">Submit</button>	
		</div>
	</form>

<script src="../js/sign-up.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>