<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>HallowGram Sign-Up</title>
	<link href="http://s3.amazonaws.com/bucketname/filename">
	<link rel="stylesheet" href="../stylesheets/log-sign.css">
</head>
<body>
	<div class="logSignBackground"></div>
	<div>
		<img class="logoShaper" src="../images/hallow2.png" alt="HallowGram Logo">
	</div>
	<div>
		<h1>Sign Up</h1>
	</div>
	<form action="/signup" method="POST" accept-charset="utf-8">
		<div class="field-shaper">
			<label for="firstname" class="labels">First Name:</label>
			<input name="firstname" class="inputFields fn-label" id="firstname" type="text">
		</div>
		<div class="field-shaper">
			<label for="lastname" class="labels">Last Name:</label>
			<input name="lastname" class="inputFields ln-label" id="lastname" type="text">
		</div>
		<div class="field-shaper">
			<label for="username" class="labels">Username:</label>
			<input name="username" class="inputFields u-label" id="username-style" type="text">
		</div>
		<div class="field-shaper">
			<label for="email" class="labels e-label">Email:</label>
			<input name="email" class="inputFields" id="email-style" type="text">
		</div>
		<div class="field-shaper">
			<label for="password" class="labels">Password:</label>
			<input name="password" class="inputFields" id="password-style" type="password">
		</div>
		<div class="field-shaper">
			<button class="inputFields" id="submit" type="submit">Submit</button>	
		</div>
	</form>

	<form action="/login" method="GET" accept-charset="utf-8">
        <div class="field-shaper">
            <button type="signup" class="inputFields" id="login-button">Login to HallowGram</button>  
        </div>
    </form>

<script src="../js/sign-up.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>